.error {
  float: none !important;
  color: red !important;
  padding-left: .5em !important;
  vertical-align: top !important;
}

label:first-child {
  display: block;
}

body {
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 60px 0;
  text-align: center;
}

